<div class="container">
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      Bibliothèque de Livres
    </a>
    <div class="d-flex justify-content-end align-items-center">
      <!-- Rechercher par livre ou auteur -->
      <input
        type="text"
        class="form-control me-2"
        placeholder="Rechercher"
        [(ngModel)]="searchTerm"
        (input)="onSearchChange($event)"
        (keyup.enter)="searchBooks()" />
      <button class="btn btn-primary ms-2" (click)="searchBooks()">Rechercher</button>
    </div>
  </nav>

  <h2 class="mt-4">Liste des livres</h2>

  <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

  <table class="table table-striped mt-3">
    <thead>
    <tr>
      <th>Titre</th>
      <th>Auteur</th>
      <th>Description</th>
      <th>Image</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
      <td>{{ book.description }}</td>
      <td><img *ngIf="book.imageCover" [src]="book.imageCover" alt="{{ book.title }}" width="50"></td>
      <td>
        <button class="btn btn-warning me-2" (click)="editBook(book)">Éditer</button>
        <button class="btn btn-danger" (click)="deleteBook(book.id)">Supprimer</button>
      </td>
    </tr>
    </tbody>
  </table>

  <h3 class="mt-4">Ajouter un nouveau livre</h3>
  <form (ngSubmit)="addBook()">
    <div class="form-group">
      <label for="title">Titre</label>
      <input type="text" class="form-control" id="title" [(ngModel)]="newBook.title" name="title" required>
    </div>
    <div class="form-group">
      <label for="author">Auteur</label>
      <input type="text" class="form-control" id="author" [(ngModel)]="newBook.author" name="author" required>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="description" [(ngModel)]="newBook.description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="imageCover">Image de couverture</label>
      <input type="file" class="form-control" id="imageCover" (change)="onImageSelect($event)" name="imageCover">
    </div>


    <div class="d-flex justify-content-end mt-3 mb-3">
      <button type="submit" class="btn btn-primary">Ajouter un livre</button>
    </div>
  </form>
</div>
